.header{
   display: flex;
   font-family:serif;
   font-size:1rem;
   padding: 1rem 2.5rem;
   font-weight:600;
   position: sticky;
   top:0px;
   background-color: #f4f5f9;
}
.filter_options{
    display: flex;
    cursor: pointer;
}

.menu-options{
    padding: 0.8rem 1.2rem;
}

.selected{
    background-color: #e1e4ea;
    border-radius: 2rem;
    color: #636363;
} 